@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Prompt", sans-serif !important;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.02);
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    background-image: url(../public//svg-icons/arrow-up-2.svg);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
    background-color: #a6a0a0;
    padding: 18px 22px;
    border-radius: 100%;
}

@media only screen and (max-width: 428px) {
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        display: none !important;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .swiper-pagination {
        display: none !important;
    }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background-color: gold;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    background-image: url(../public//svg-icons/arrow-up-2.svg);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
    transform: rotate(180deg);
    background-color: #a6a0a0;
    padding: 18px 22px;
    border-radius: 100%;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.overflowHidden {
    overflow: hidden;
}
