@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Prompt", sans-serif !important;
    scroll-behavior: smooth;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    /* color: red !important; */
    background-image: url(../public//svg-icons/arrow-up-2.svg);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
    background-color: #A6A0A0;
    padding: 18px 22px;
    border-radius: 100%;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    /* color: red !important; */
    background-image: url(../public//svg-icons/arrow-up-2.svg);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
    transform: rotate(180deg);
    background-color: #A6A0A0;
    padding: 18px 22px;
    border-radius: 100%;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}
